
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkslategray;
  background-color: beige;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5;
}

/* Header Showcase */

.back-image {
  background-image: url("/images/jeroen-den-otter-1169089-unsplash.jpg");
  position: absolute;
  background-color:beige;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.5;
}

#showcase .content-wrap {
  height: 450px;
}

.btn {
  display: inline-block;
  border: 1px solid bisque ;
  padding: 0.5em;
  background: beige;
  text-decoration: none;
  margin: 0.5em;
  color: darkslategray;
}

.btn:hover {
  color: rgb(17, 22, 22);
  background: burlywood;
}

/* Body */

img {
  display: block;
  width: 100%;
  height: auto;
}

